.search-input {
  height: 45px;
  padding-left: 40px; /* Espace pour l'icône */
  background-color: #0eb662;
  color: #a9f0cd;
}

.search-icon {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #a9f0cd;
}

.search-bar {
  color: #a9f0cd;
}

.search-input:focus {
  background-color: #0eb662;
  color: #a9f0cd;
  box-shadow: 0 0 0 0.15rem rgba(169, 240, 205, 0.6); /* Contour lumineux */
}

.search-input::placeholder {
  color: #a9f0cd;
}

.card-rando .col-md-4 {
  overflow: hidden; /* Empêche l'image de dépasser */
}

.card-rando:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.card-rando img {
  transition: transform 0.3s ease-in-out;
}

.card-rando:hover img {
  transform: scale(1.2);
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #0eb662;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

@media screen and (min-width: 768px) {
	#sidebar {
		position: fixed;
		height: 100%;
	}
}

@media screen and (max-width: 767px) {
	#sidebar {
		height: auto;
	}
}