.search-input {
  height: 45px;
  padding-left: 40px; /* Espace pour l'icône */
  background-color: #0eb662;
  color: #a9f0cd;
}

.leaflet{
  height: 300px;
}

@media (min-width: 768px) {
  .card-rando {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .card-rando {
    height: 250px;
  }

  .card-rando .img-container{
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
  }
}
 .card-rando .img-container{
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.search-icon {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #a9f0cd;
}


.search-input:focus {
  background-color: #0eb662;
  color: #a9f0cd;
  box-shadow: 0 0 0 0.15rem rgba(169, 240, 205, 0.6); /* Contour lumineux */
}


.suggestions-list li {
  padding: 10px 14px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #f5f5f5;
}

.suggestions-list{
  width: 100%;
  position: absolute;
  top:100%;
  left:0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 200px;
  overflow-y: auto;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  z-index: 9999; /* passe au-dessus des autres éléments */
}

.search-input::placeholder {
  color: #a9f0cd;
}

.card-rando{
  background-color: #436D3B;
}

.card-rando .col-md-4 {
  overflow: hidden; /* Empêche l'image de dépasser */
}

.card-rando:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.card-rando img {
  transition: transform 0.3s ease-in-out;
}

.card-rando:hover img {
  transform: scale(1.2);
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #0eb662;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

@media (min-width: 768px) {

  .search-bar{
    width:45%;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }

  .search-bar{
    max-width: 60%;
    margin: 0;
  }
}

#sidebar{
  height: 100vh;
}